body {
  margin: 0;
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.canvas {
  position: relative;
  width: 500px;
  height: 600px;
  background: #d6df2a;
  box-shadow: 0 20px 30px rgba(0,0,0,0.2);
}

.blue-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #1565a9;
}


.green-shape {
  position: absolute;
  left: 90px;
  bottom: 70px;
  width: 70px;
  height: 280px;
  background: #0c5a4a;
}

.green-shape::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 70px;
  background: #0c5a4a;
}

.red-shape {
  position: absolute;
  right: 90px;
  bottom: 70px;
  width: 70px;
  height: 280px;
  background: #c62828;
}

.red-shape::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  height: 70px;
  background: #c62828;
}

.black-rect {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  height: 300px;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-rect {
  position: relative;
  width: 90px;
  height: 200px;
  background: #e51e2a;
  border: 8px solid #1c2f5c;
}

.line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 100%;
  background: #1c2f5c;
}