body {
  background-color: lightpink;
}
img {
  filter: grayscale(100%);
}
div.a {
  width: 150px;
  height: 80px;
  background-color: lightgoldenrodyellow;
  transform: rotate(20deg);
  position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}

.container {
  background-color: red;
  padding: 15px;
}

.container img {
  mix-blend-mode: darken;
}